<div class="container mt-4">
    <h2 class="mb-4"><i class="fas fa-chair"></i> Ergonomía</h2>

    <div class="card border-primary" [@fadeInAnimation]="'in'">
        <div class="card-header">
            <h4><i class="fas fa-heartbeat"></i> Fisiología del Trabajo</h4>
        </div>
        <div class="card-body">
            <p>Analiza cómo las capacidades y limitaciones físicas del cuerpo humano influyen en la realización de
                tareas laborales.</p>
        </div>
    </div>

    <div class="card border-primary mt-4" [@fadeInAnimation]="'in'">
        <div class="card-header">
            <h4><i class="fas fa-dumbbell"></i> Biomecánica</h4>
        </div>
        <div class="card-body">
            <p>Se refiere al estudio de las fuerzas y movimientos aplicados al cuerpo humano y cómo estos afectan a la
                salud y el rendimiento.</p>
        </div>
    </div>

    <div class="card border-primary mt-4" [@fadeInAnimation]="'in'">
        <div class="card-header">
            <h4><i class="fas fa-desktop"></i> Diseño del Lugar de Trabajo</h4>
        </div>
        <div class="card-body">
            <p>Implica la disposición de herramientas, equipos y mobiliario para facilitar la realización de tareas sin
                causar fatiga ni lesiones.</p>
        </div>
    </div>

    <div class="card border-primary mt-4" [@fadeInAnimation]="'in'">
        <div class="card-header">
            <h4><i class="fas fa-users"></i> Factores Humanos/Comportamiento</h4>
        </div>
        <div class="card-body">
            <p>Considera los aspectos psicológicos y de comportamiento en el diseño de sistemas y tareas laborales, como
                la interacción persona-máquina y la toma de decisiones.</p>
        </div>
    </div>

    <div class="card border-primary mt-4" [@fadeInAnimation]="'in'">
        <div class="card-header">
            <h4><i class="fas fa-list-alt"></i> Lista de Chequeo Ergonómico</h4>
        </div>
        <div class="card-body">
            <p>Una lista de chequeo ergonómico es una herramienta que se utiliza para evaluar si un lugar de trabajo
                cumple con los principios de ergonomía.</p>
        </div>
    </div>

    <div class="card border-primary mt-4" [@fadeInAnimation]="'in'">
        <div class="card-header">
            <h4><i class="fas fa-map"></i> Hoja de Ruta: Definición y Elaboración</h4>
        </div>
        <div class="card-body">
            <p>Una hoja de ruta es un plan estratégico que describe los pasos y acciones necesarios para lograr un
                objetivo específico en un período determinado.</p>
            <p>Aquí están los pasos generales para elaborar una hoja de ruta ergonómica:</p>
            <ol>
                <li>Definir Objetivos: Establecer los objetivos específicos de la implementación de la ergonomía en el
                    lugar de trabajo.</li>
                <li>Análisis Inicial: Realizar una evaluación exhaustiva de las condiciones ergonómicas actuales en el
                    lugar de trabajo.</li>
                <li>Identificar Soluciones: Desarrollar un conjunto de soluciones ergonómicas para abordar los problemas
                    identificados.</li>
                <li>Priorización: Priorizar las soluciones en función de su impacto y viabilidad.</li>
                <li>Planificación y Programación: Establecer un cronograma para la implementación de las soluciones
                    ergonómicas.</li>
                <li>Implementación: Llevar a cabo las mejoras planificadas, asegurando que se realicen de acuerdo con
                    los estándares ergonómicos establecidos.</li>
                <li>Seguimiento y Evaluación: Monitorear el impacto de las mejoras ergonómicas a lo largo del tiempo.
                </li>
                <li>Educación y Capacitación: Proporcionar capacitación a los empleados sobre las mejores prácticas
                    ergonómicas.</li>
                <li>Comunicación: Mantener una comunicación abierta y transparente con los empleados sobre las mejoras
                    ergonómicas.</li>
            </ol>
        </div>
    </div>
</div>