<header>
    <h2><i class="fas fa-project-diagram"></i> Cursograma Analítico del Proceso</h2>
    <p>Una representación visual de las etapas y flujos de información en un proceso.</p>
</header>

<section id="contenido">
    <article>
        <h2>¿Qué es un Cursograma Analítico?</h2>
        <p>
            Un cursograma analítico es un diagrama que representa gráficamente las diferentes etapas de un proceso
            y las relaciones entre ellas. Se utiliza para analizar y visualizar la secuencia de actividades, decisiones
            y flujos de información en un sistema.
        </p>
    </article>

    <article>
        <h2>Ejemplo de Cursograma Analítico</h2>
        <div class="container">
            <div class="card border-primary mb-3">
                <img src="https://0.academia-photos.com/attachment_thumbnails/45077117/mini_magick20190213-18192-1dyanex.png?1550055378"
                    class="card-img-top" alt="Esquema del Diagrama">
            </div>
        </div>

        <p>Este es un ejemplo básico de un cursograma analítico. Haz clic en el botón de abajo para descargar el
            documento completo.</p>
        <a id="descargarBtn" href="https://drive.google.com/file/d/1B23fX382e1BlzZpg2obKuytd5fA2dove/view?usp=sharing"
            target="_blank">
            Descargar Cursograma
        </a>

    </article>
</section>

