<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-home"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/indicadores">
                        <i class="fas fa-chart-bar"></i> Indicadores de Gestión
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dop">
                        <i class="fas fa-sitemap"></i> Diagrama de Operaciones de Procesos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dap">
                        <i class="fas fa-project-diagram"></i> Diagrama Analítico del Proceso
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estudioMovimientos">
                        <i class="fas fa-walking"></i> Estudio de Movimientos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fiveS">
                        <i class="fas fa-hand-paper"></i> Metodología de las 5S
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/herramientasReactivas">
                        <i class="fas fa-tools"></i> Herramientas de la Calidad Reactivas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/balanceLinea">
                        <i class="fas fa-balance-scale"></i> Balance de Línea
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/puntoOptimo">
                        <i class="fas fa-crosshairs"></i> Punto Óptimo de una Línea Productiva
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/balanceEnsamblaje">
                        <i class="fas fa-puzzle-piece"></i> Balance de Línea de Ensamblaje
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/localizacionEmpresas">
                        <i class="fas fa-map-marker-alt"></i> Localización de Empresas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/distribucionPlanta">
                        <i class="fas fa-th-large"></i> Distribución en Planta
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/administracionMetodos">
                        <i class="fas fa-cogs"></i> Administración de la Ingeniería de Métodos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/condicionesLaborales">
                        <i class="fas fa-users"></i> Condiciones Laborales
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ergonomia">
                        <i class="fas fa-chair"></i> Ergonomía
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>