<div class="container text-center mt-2">
    <h2><i class="fas fa-crosshairs"></i>Punto Óptimo de una Línea Productiva</h2>
</div>
<div class="container mt-4">


    <div class="card border-info mb-4">
        <div class="card-header">
            <h4><i class="fas fa-exclamation-circle"></i> Restricciones</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Las restricciones son limitaciones o limitaciones que afectan la producción y el
                rendimiento de una línea productiva. Pueden ser limitaciones de recursos, como mano de obra, materias
                primas o tiempo, que restringen la capacidad de producción y pueden influir en la determinación del
                punto óptimo.</p>
        </div>
    </div>

    <div class="card border-info mb-4">
        <div class="card-header">
            <h4><i class="fas fa-balance-scale"></i> Balance para una Producción Múltiple</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Cuando se trata de una producción múltiple, es importante equilibrar la asignación de
                recursos y tareas entre diferentes productos o líneas de producción. El objetivo es evitar
                desequilibrios que podrían llevar a cuellos de botella o a una utilización ineficiente de recursos.</p>
        </div>
    </div>

    <div class="card border-info mb-4">
        <div class="card-header">
            <h4><i class="fas fa-chart-line"></i> Análisis para Tres Productos</h4>
        </div>
        <div class="card-body">
            <p class="card-text">En un análisis para tres productos, se busca determinar cómo asignar de manera óptima
                los recursos y la producción entre los tres productos para maximizar los beneficios. Esto implica
                considerar la demanda de cada producto, los costos asociados a su producción y cualquier restricción de
                recursos.</p>
        </div>
    </div>

    <div class="card border-info mb-4">
        <div class="card-header">
            <h4><i class="fas fa-cogs"></i> Programación de Producción</h4>
        </div>
        <div class="card-body">
            <p class="card-text">La programación de producción implica planificar y organizar la producción de manera
                eficiente para cumplir con la demanda y maximizar la utilización de recursos. Esto puede involucrar la
                asignación de tareas a diferentes estaciones de trabajo, la programación de entregas de materias primas
                y la coordinación de los tiempos de producción.</p>
        </div>
    </div>

    <div class="card border-info mb-4">
        <div class="card-header">
            <h4><i class="fas fa-chart-bar"></i> Diagrama de Gantt</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Un diagrama de Gantt es una herramienta visual utilizada en la programación de la
                producción para mostrar la programación de tareas a lo largo del tiempo. Cada tarea se representa como
                una barra horizontal que muestra su inicio y finalización previstos. Esto permite visualizar la
                secuencia de tareas, la duración y la superposición de actividades. Ayuda a coordinar y monitorear el
                progreso del proyecto o la producción.</p>
        </div>
        <div class="container" style="max-width: 400px;">
            <div class="card border-primary mb-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Ejemplo_de_Diagrama_de_Gantt.png/640px-Ejemplo_de_Diagrama_de_Gantt.png"
                    class="img-thumbnail" alt="Esquema del Diagrama">
            </div>
        </div>
    </div>

</div>