<!-- Título -->
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-4 mb-4"> <i class="fas fa-sitemap"></i> Diagrama de Operaciones del Proceso (DOP)</h2>
        </div>
    </div>

    <!-- Sección de Definición -->
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h2><i class="fas fa-book"></i> Definición</h2>
                </div>
                <div class="card-body text-dark">
                    <p class="card-text">
                        Es la representación gráfica y simbólica del acto de elaborar un producto o
                        proporcionar un servicio,
                        mostrando las operaciones e inspecciones efectuadas o por efectuar, con sus relaciones sucesivas
                        cronológicas
                        y los materiales utilizados. En este diagrama sólo se registran las principales operaciones e
                        inspecciones
                        para comprobar la eficiencia de aquellas, sin tener en cuenta quién las efectúa ni donde se
                        llevan a
                        cabo.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h2><i class="fas fa-shapes"></i> Símbolos a Utilizar</h2>
                </div>
                <div class="card-body text-dark">
                    <p class="card-text">
                        Para presentar las operaciones e inspecciones en el diagrama se debe tener presente los
                        siguientes
                        símbolos y conceptos de cada una de ellas:
                    </p>

                    <!-- Agrega aquí la lista de símbolos -->
                    <img src="https://i.postimg.cc/MGtN2Nj8/dop-Simbolos.png" class="img-fluid" alt="...">
                </div>
            </div>

        </div>
    </div>

    <!-- Sección de Utilización del DOP -->
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h2><i class="fas fa-cogs"></i> Utilización del DOP</h2>
                </div>
                <div class="card-body text-dark">
                    <p class="card-text">
                        El DOP deberá ser utilizado en las siguientes circunstancias:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Cuando se planifica un método o un proceso, ya
                            que es más barato ajustar los cambios en el papel que en la práctica.
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Apoyo a la distribución en planta.
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Una fuente de sugerencias para la compra de nuevos
                            equipos y diseños de herramientas.
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Para la toma de decisiones, en la aplicación de
                            un nuevo procedimiento,
                            efectuar algunos cambios y modificar el número de operaciones.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Esquema del Diagrama -->
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <h2><i class="fas fa-sitemap"></i> Esquema del Diagrama</h2>
                </div>
                <div class="card-body text-dark">
                    <p class="card-text">
                        El diagrama deberá presentar tres partes:
                    </p>
                    <!-- Agrega aquí la descripción del esquema -->
                    <ul>
                        <li><strong>Título:</strong> Colocado en la cabecera de la gráfica, que detallará lo que se
                            procesa.</li>
                        <li><strong>Cuerpo:</strong> Donde se representa el punto en el que comienza el proceso y va
                            hasta donde
                            termina. Se usarán líneas verticales para conectar los símbolos e indicar el flujo general
                            del proceso a
                            medida que se va presentando la secuencia; y líneas horizontales, que entroncan a las
                            verticales, para
                            indicar la introducción del material sobre el que se le ha hecho un trabajo durante el
                            proceso o también
                            aquellos comprados a terceros y que formarán parte del producto al presentar el diagrama se
                            recomienda
                            que estas líneas no se crucen. Si por algún motivo esto fuera inevitable es necesario
                            dibujar un
                            semicírculo en la línea horizontal, en el punto donde se cruza la línea vertical.</li>
                        <li><strong>Cuadro Resumen:</strong> El cual detalla la cantidad de operaciones e inspecciones y
                            símbolos
                            combinados registrados en el proceso, al final de la hoja.</li>
                    </ul>
                    <div class="text-center">
                        <img src="https://1.bp.blogspot.com/--1zdio3N37k/V0kV_OirxII/AAAAAAAAA_0/hfO8_KFBc7k0k3enPR2bX1l0Xg3CzgE3QCLcB/s1600/dop.png"
                            class="img-fluid" alt="Esquema del Diagrama">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>